@charset "UTF-8";


html, body {
	height: 100%;
}

body {
font-family: 'Libre Baskerville', serif;
	margin: 0;
	padding: 0;
}

.ensemble {
	margin: auto;
	min-height: 100%;
}

a, a:hover {
	text-decoration: none;
}

.separator {
	height: 2px;
	width: 10%;
	border: none;
	box-shadow: none;
	background-color: #00525E;
}

/* header */
.header {
	background-color: #00525E;
	height : 70px;
	line-height: 70px;
}

.logo, .logo:hover {
	color : #BBB6C2;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	text-decoration: none;
}

.menu {
	float : right;
}

.menu a {
	color : #BBB6C2;
	margin-right: 20px;
	text-transform: uppercase;
}

.menu a:hover, .logo:hover {
	color:#716E75;
	text-decoration: none;
}

/* bannière */

.ban img {
	width : 100%;
	max-width: 100%;
	display: inline-block;
}

.inner-banner {
	position: absolute;
	top:60%;
	width: 100%;
	text-align: center;
}

.inner-banner h1 {
	color : #ffffff;
	text-shadow: 1px 1px 20px #000000;
	font-size: 400%;
}

.inner-banner .btn-custom {
	background-color : #716E75;
	color: #ffffff;
	padding: 1%;
	font-size: 100%;
}

.inner-banner .btn-custom:hover {
	background-color : #00525E;
	color: #ffffff;
	transition-duration: 1s;
	transform:scale(1.25);
	transition: all 1s ease;

}

/* about */

#about {
		text-align: center;
		padding-top: 5%;
		text-transform: uppercase;
		color: #716E75;
		font-size: 40px;
}

.about article {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 8%;
	margin-left: 8%;
}
.about article h2 {
	text-align: center;
}

.row h2 {
	font-size: 190%;
	color : #00525E;
	text-align: center;
	padding-bottom: 5%;
	font-weight: bold;

}

.row h3 {
	font-size: 150%;
	color : #BBB6C2;
	padding-bottom: 5%;
	padding-top: 5%;
}

.row h4 {
	font-size: 150%;
	font-weight: bold;
}

.row h5 {
	font-size: 100%;
	font-style: italic;
	text-align: justify;
}

.OEIL {
	text-align: center;
	font-size: 50%;
}

.oeilphoto {
	height: 150px;
	padding: 5px;
margin-left: 33%;
}


.VP {
	font-size: 140%;
	color : #BBB6C2;
	text-align: center;
	padding-bottom: 10px;
}

.etudes:hover {
	background-color : #D1E2E6;
	transition-duration: 1s;
	transition: all 1s ease;
	transform: translateX(20px);
	border-radius: 19px;
	padding: 5px;
}

 .asso:hover {
	background-color : #D1E2E6;
 	transition-duration: 1s;
 	transform:scale(2.25);
 	transition: all 1s ease;
 	transform: translateX(20px);
 	border-radius: 19px;
	padding: 5px;
 }

 .pro:hover {
 	background-color : #D1E2E6;
 	transition-duration: 1s;
 	transform:scale(2.25);
 	transition: all 1s ease;
 	transform: translateX(20px);
 	border-radius: 19px;
	padding: 5px;
 }

 .comp:hover {
	background-color : #D1E2E6;
 	transition-duration: 1s;
 	transform:scale(2.25);
 	transition: all 1s ease;
 	transform: translateX(20px);
 	border-radius: 19px;
	padding: 5px;
}
.comp img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	padding: 5px;
}

 .jauge {
    width: 100px;
    height: 10px;
    display: block;
    background-color: #BBB6C2;
    color: white;
    position: relative;
    text-decoration: none;
		margin-left: 36%;
		margin-top: 2%;
}

.jauge-remplissage1 {
    transition: all 0.3s linear 0s;
    background-color: #00525E;
    width: 85px;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.jauge-remplissage2 {
    transition: all 0.3s linear 0s;
    background-color: #00525E;
    width: 85px;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.jauge-remplissage3 {
    transition: all 0.3s linear 0s;
    background-color: #00525E;
    width: 85px;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.jauge-remplissage4 {
    transition: all 0.3s linear 0s;
    background-color: #00525E;
    width: 70px;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.jauge-remplissage5 {
    transition: all 0.3s linear 0s;
    background-color: #00525E;
    width: 70px;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.jauge-remplissage6 {
    transition: all 0.3s linear 0s;
    background-color: #00525E;
    width: 50px;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* portefolio */

.portfolio {
	background-color: #eeeeee;
	height: 550px;
}

#portefolio {
	text-align: center;
	padding-top: 5%;
	text-transform: uppercase;
	color: #716E75;
	font-size: 40px;
}

.portfolio .item-folio {
	height: 300px;
	margin: 20px 40px 0px 40px;
	background-color: #00525E;
}

.portfolio article:hover {
	background-color: #007385;
	transition-duration: 1s;
	transform: translateY(10px);
}

.portfolio .li {
	height: 200px;
	padding-left: 10%;
}

.portfolio .gi {
	height: 180px;
	padding-top: 5%;
	padding-left: 15%;
}

.portfolio .cv {
	height: 180px;
	padding-top: 5%;
	padding-left: 22%;
}

.lim {
		font-size: 150%;
		padding-left: 15%;
}

.gim {
	font-size: 150%;
	padding-left: 18%;
	padding-top: 10%;
	display: inline-block;
}

.cvm {
	font-size: 150%;
	padding-left: 28%;
	padding-top: 10%;
	display: inline-block;
}
/* contact */

.footer {
	background-color: #00525E;
	height: 700px;
}

#contact {
	text-align: center;
	padding-top: 5%;
	text-transform: uppercase;
	color: #BBB6C2;
	font-size: 40px;
}

.footer .separator {
	height: 2px;
	width: 10%;
	border: none;
	box-shadow: none;
	background-color: #BBB6C2;
	margin-bottom: 30px;
}

.formulaireContact {
	width: 500px;
	display: inline-block;
	margin-left: 65%;
}

input[type=text] {
	height: 50px;
	width: 500px;
	border: none;
	margin-bottom: 20px;
	border-radius: 9px;
	padding-left: 10px;

}

input[type=email] {
	height: 50px;
	width: 500px;
	border: none;
	margin-bottom: 20px;
	border-radius: 9px;
	padding-left: 10px;

}

textarea {
	height: 200px;
	width: 500px;
	resize: vertical;
	border: none;
	border-radius: 9px;
	padding-left: 10px;

}

.controls .btn-custom {
	margin-top: 20px;
	background-color : #716E75;
	color: #ffffff;
	margin-left: 200px;

}

.controls .btn-custom:hover {
	margin-top: 20px;
	background-color : #0094AB;
	color: #ffffff;
	transition-duration: 1s;
	transform:scale(1.25);
	transition: all 1s ease;

}

h7 {
	text-transform: uppercase;
	font-size: 100%;
	text-align: center;
}

.lin{
	height: 40px;
}

.git{
	height: 30px;
}

@media (min-width: 1024px) {

	/* bannière */

	.ban img {
		width : 100%;
		max-width: 100%;
		display: inline-block;
	}

	.inner-banner {
		position: absolute;
		top:60%;
		width: 100%;
		text-align: center;
	}

	.inner-banner h1 {
		color : #ffffff;
		text-shadow: 1px 1px 20px #000000;
		font-size: 400%;
	}

	.inner-banner .btn-custom {
		background-color : #716E75;
		color: #ffffff;
		padding: 1%;
		font-size: 100%;
	}

	.inner-banner .btn-custom:hover {
		background-color : #00525E;
		color: #ffffff;
		transition-duration: 1s;
		transform:scale(1.25);
		transition: all 1s ease;

	}
}

/* Couleur
bleu canard 00525E
gris texte 716E75
gris clair texte BBB6C2
*/
