/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MON CSS */
@charset "UTF-8";

html, body {
	height: 100%;
}
@keyframes fadein {
    from {
        opacity:0;
				transition : all 0.5s ease-in-out;
				transform : translate(0px,-100px);

    }
    to {
        opacity:1;
    }
}

body {
	margin: 0;
	padding: 0;
	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
}


/* MENU DU HAUT */

.menu .logo {
  	color:#716E75;
    font-weight: bold;
    font-size: 25px;
}
.menu a {
	color : #BBB6C2;
	margin-right: 20px;
	text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  margin-right: 2%;
}

.menu a:hover, .logo:hover {
	color:#716E75;
}

.presentation {
  background-color: #ffeae0;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 60px;
  font-style: italic;
  color : #383838;

}

img {
  height: 500px;
}

a, p, h1, b {
  font-family: 'Gotu', sans-serif;
	line-height: 1.5em;
	text-decoration: none;
	color: black;
}

.photoetcercle {
    display: inline-block;
    position: relative;
}

.photoetcercle .spinner-box {
  position: absolute;
}

.imageettexte {
    display: inline-block;
    position: relative;
}

.image {
  margin: 10% 0% 10% 80%;
  border-radius: 100px;
}

.imageettexte .text {
    z-index: 1;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 30%;
    width: 70%;
}

/* A PROPOS DE MOIS */

.propos h2 {
  text-align: center;
  font-weight: bold;
  color:#383838;
  font-size: 30px;
}

.propos p {
  text-align: justify;
  margin-right: 28%;
  margin-left: 28%;
  font-size: 18px;
}

/* EDUCATION */

.recEduc {
  border: 10px solid #ffeae0;
  width:54%;
	height:120%;
  text-align: center;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.7;
  transition : all 1s ease-in-out;
}

.recEduc:hover {
  opacity: 1;
	width:56%;
	transition : all 1s ease-in-out;
	border-radius: 30px;
}

.recEduc h2 {
  text-align: center;
  font-weight: bold;
  color:#383838;
  font-size: 30px;
}

.recEduc p {
  text-align: center;
  color:#383838;
  font-size: 15px;
  margin-right: 12%;
  margin-left: 12%;
}

.recEduc h1 {
  text-align: center;
  color:#383838;
  font-size: 15px;
  margin-right: 12%;
  margin-left: 12%;
}

hr {
	margin-bottom: -5px;
	margin-top: -5px;
}

/* COMPETENCES */

.recComp {
  border: 10px solid #ffeae0;
  width:69%;
	height:80%;
  text-align: center;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.8;
		transition : all 1s ease-in-out;
}

.recComp:hover {
  opacity: 1;
	width:71%;
	transition : all 1s ease-in-out;
	border-radius: 30px;
}
.recComp h2 {
  text-align: center;
  font-weight: bold;
  color:#383838;
  font-size: 30px;
}

.recComp p {
  text-align: center;
  color:#383838;
  font-size: 15px;
  margin-right: 12%;
  margin-left: 12%;
}

.recComp h1 {
  text-align: center;
  color:#383838;
  font-size: 15px;
  margin-right: 12%;
  margin-left: 12%;
}


 .jauge {
    width:200px;
    height: 20px;
    display: block;
    background-color: #F2F2F2;
    position: relative;
		opacity: 0.5;
}

.jauge-remplissage1 {
    transition: all 0.3s linear 0s;
    background-color: #d4ecff;
    width: 80%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.jauge-remplissage2 {
    transition: all 0.3s linear 0s;
    background-color: #d4ecff;
    width: 70%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.jauge-remplissage3 {
    transition: all 0.3s linear 0s;
    background-color: #d4ecff;
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.jauge-remplissage4 {
    transition: all 0.3s linear 0s;
    background-color: #d4ecff;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.bare {
	margin-top: 4%;
}

.imgetprog {
	display: flex;
	flex-direction: row;
	margin-left: 10%;
	margin-bottom: 3%;
}

.logocom {
	width:35%;
	height:100%;
}

.ens
{
display: flex;
}
.cote1
{
flex:1;
}

/* CONTACT */

.contact {
  width:35%;
	height:85%;
  text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.contact h2 {
  text-align: center;
  font-weight: bold;
  color:#383838;
  font-size: 25px;
}

.contact p {
  text-align: center;
  color:#383838;
  font-size: 15px;
  margin-right: 12%;
  margin-left: 12%;
	font-style: italic;
}

.contact h1 {
  text-align: center;
  color:#383838;
  font-size: 15px;
  margin-right: 12%;
  margin-left: 12%;
}

/* CARRE */

.donne {
	height: 300px;
	/* background-color: #ffeae0; */
	display: flex;


}

.github  {
	width: 200px;
  height: 250px;
	border-radius: 40px;
	opacity: 0.8;
	margin-left: auto;
	margin-right: auto;
		transition : all 0.8s;
}

.github:hover {
	opacity: 1;
  transition: 0.6s;
background-color: #ffeae0;
}

.linkedin {
  width: 200px;
  height: 250px;
	border-radius: 40px;
	opacity: 0.8;
	margin-left: auto;
margin-right: auto;
	transition : all 0.8s;
}

.linkedin:hover {
	opacity: 1;
  transition: 0.6s;
background-color: #ffeae0;
}

.gitimg {
	width: 150px;
	height: 150px;
	display: block;
    margin-left: auto;
		margin-right: auto;
		margin-top: -5%;
}

.linimg {
	width: 150px;
	height: 150px;
	display: block;
    margin-left: auto;
    margin-right: auto;
		margin-top: -5%;
}


.liengl {
		text-decoration: none;
		font-family: 'Gotu', sans-serif;
		text-align: center;
		color: black;
		margin-right: 12%;
		margin-left: 12%;
}

.butongitlin {
	margin-bottom: 10%;
	color : #BBB6C2;
	font-weight: bold;
}

hr .fin {
	border-top: 1px dashed;
	color: #ffeae0;
}
  /* Tablette */
@media screen and (max-width: 992px) {
  body {
    background-color: red;
  }
}

/* Mobile */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}

#particle-canvas {
  height: 200px;
}



/* Couleur :

Rose pale : #ffeae0
Gris foncé : 383838
A7D9D6
