
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Roboto:700');

.text-with-animation {
  font-size: 6vw;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 100vh;
  vertical-align: middle;
  animation: main-text-animation 1.7s ease-in-out forwards;
  font-weight: 700;
  color: #ffffff;
  overflow: hidden;
  display: block;
  width: 500vw;
  margin-left: -200vw;
text-decoration: none;
}

a {
  text-decoration: none;
}
.container {
  height: 100vh;
  line-height: 100vh;
  vertical-align: middle;
  text-decoration: none;
}

.subtext-with-animation {
  position:fixed;
  font-size: 5vw;
  text-align: center;
  line-height: 100vh;
  vertical-align: middle;
  top: 0;
  width: 100%;
  font-family: 'Gochi Hand', cursive;
  color: #383838;
  letter-spacing: 4px;
  user-select: none;
  overflow: hidden;
  display: block;
  text-decoration: none;
}


.subtext-with-animation span:first-of-type {
  position: relative;
  opacity: 0;
  animation: word-animation 0.5s ease-out 1.5s forwards;
text-decoration: none;
}

.subtext-with-animation span:nth-of-type(2) {
  position: relative;
  opacity: 0;
  animation: word-animation 0.5s ease-out 1.7s forwards;
  text-decoration: none;
}

body {
  overflow: hidden;
  margin: 0;
  background: rgb(204,230,232);
 background: linear-gradient(180deg, rgba(204,230,232,1) 0%, rgba(201,227,224,1) 40%, rgba(186,214,187,1) 100%);
  text-decoration: none;
}

body, html {
  width: 100vw;
  max-width: 100vw;
  text-decoration: none;
}

@keyframes main-text-animation {
  0% {
    letter-spacing: 25vw;
    word-spacing: 100vw;
    opacity: 0;
  }
  100% {
    letter-spacing: 4px;
    word-spacing: 1vw;
    opacity: 1;
  }
}

@keyframes word-animation {
  0% {
    top: 10vw;
    opacity: 0;
  }
  100% {
    top: 3.5vw;
    opacity: 1;
  }
}


.cursor_wrapper {
  position: absolute;
  left: 50%;
  top: 90%;
  width: 30px;
  animation: translate_l2b 2s infinite;
  text-decoration: none;
}

@keyframes translate_l2b {
  0% {
    transform: translate(-3px, 4px);
  }
   20% {
    transform: translate(0px, 0px);
  }
  80% {
    transform: translate(-3px, 4px);
  }

  96% {
    transform: translate(-3px, 4px);
  }
  100% {
    transform: translate(-3px, 4px);
  }

}

.cursor_wrapper:after {
  content: "";
  display: block;
  position: absolute;
  left: -8px;
  top: -8px;
  width: 26px;
  height: 26px;
  border: 1px solid linear-gradient(0deg, rgba(56,56,56,1) 0%, rgba(255,234,224,1) 100%);
  border-radius: 50%;
  z-index: 4;
  animation: wave_l2b 2s infinite;
  text-decoration: none;
}

@keyframes wave_l2b {
  0% {
    transform: scale(1);
    opacity: .7;
  }
  5% {
    transform: scale(1.2);
    opacity: 0;
  }
  6% {
    transform: scale(0);
    opacity: 0;
  }
  44% {
    transform: scale(0);
    opacity: 0;
  }
  45% {
    transform: scale(0);
    opacity: 1;
  }
  60% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: .7;
  }
}

.cursor_wrapper:before {
  content: "";
  display: block;
  position: absolute;
    left: -15px;
    top: -15px;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(219, 215, 215);
  border-radius: 50%;
  z-index: 4;
  animation: wave2_l2b 2s infinite;
  text-decoration: none;
}

@keyframes wave2_l2b {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1.2);
    opacity: 0;
  }
  26% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0);
    opacity: 1;
  }
  90% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#click_l2b {
    position: relative;
    animation: click_l2b 2s infinite;
    z-index: 5;
    stroke-width: 2;
    stroke-dasharray: 10 5;
    opacity: 0.10;
    fill: #383838;
    text-decoration: none;
}


@keyframes click_l2b {
  0% {
    transform: skew(0deg) translateX(0px) scaleY(.9);
  }
  50% {
    transform: skew(-6deg) translateX(3px) scaleY(1);
  }
  100% {
    transform: skew(0deg) translateX(0px) scaleY(.9);
  }
}
