
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Roboto:700');

.text-with-animation {
  font-size: 7vw;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 100vh;
  vertical-align: middle;
  font-weight: 700;
  color: #cce6e8;
  display: block;
  text-decoration: none;
  opacity: 1;
}

a {
  text-decoration: none;
}
.container {
  height: 100vh;
  line-height: 100vh;
  vertical-align: middle;
  text-decoration: none;
}

.subtext-with-animation {
  position:absolute;
  font-size: 6vw;
  text-align: center;
  line-height: 100vh;
  vertical-align: middle;
  top: 0;
  margin-top: 2%;
  width: 100%;
  font-family: 'Gochi Hand', cursive;
  color: #bad6bb;
  letter-spacing: 4px;
  user-select: none;
  display: block;
  text-decoration: none;
  opacity: 1;
}

.subtext-with-animation span:first-of-type {
  position: relative;
  opacity: 0;
  animation: word-animation 0.5s ease-out 1.5s forwards;
  text-decoration: none;
}

.subtext-with-animation span:nth-of-type(2) {
  position: relative;
  opacity: 0;
  animation: word-animation 0.5s ease-out 1.7s forwards;
  text-decoration: none;
}

body .container{
  background-image: url(../IMAGES/photo11.png);
  text-decoration: none;
  background-size: 100% 100%;
}

body, html {
  text-decoration: none;
}

@keyframes word-animation {
  0% {
    top: 10vw;
    opacity: 0;
  }
  100% {
    top: 3.5vw;
    opacity: 1;
  }
}
.cursor_wrapper {
  position: absolute;
  left: 50%;
  top: 90%;
  width: 30px;
  animation: translate_l2b 2s infinite;
  text-decoration: none;
}

@keyframes translate_l2b {
  0% {
    transform: translate(-3px, 4px);
  }
   20% {
    transform: translate(0px, 0px);
  }
  80% {
    transform: translate(-3px, 4px);
  }

  96% {
    transform: translate(-3px, 4px);
  }
  100% {
    transform: translate(-3px, 4px);
  }

}

.mouse-icon {
	position: absolute;
	left: 50%;
	bottom: 40px;
	border: 2px solid #383838;
	border-radius: 16px;
	height: 50px;
	width: 30px;
	margin-left: -17px;
	display: block;
}

.mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.mouse-icon .wheel {
	position: relative;
	border-radius: 10px;
	background: #383838;
	width: 4px;
	height: 10px;
	top: 4px;
	margin-left: auto;
	margin-right: auto;
}

@-webkit-keyframes drop {
    0%   { top:5px;  opacity: 0;}
    30%  { top:10px; opacity: 1;}
    100% { top:25px; opacity: 0;}
}


@keyframes drop	{
	0%   { top:5px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}
