/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MON CSS */
@charset "UTF-8";

html, body {
	height: 100%;
	background-color: #fff9f2;
}

body {
	margin: 0;
	padding: 0;
}

#progress{

  background: rgb(204,230,232);
  background: linear-gradient(94deg, rgba(204,230,232,1) 0%, rgba(201,227,224,1) 40%, rgba(186,214,187,1) 100%);
	height: 5px;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999; /* Peut être important si vous avez un menu en position fixe */
}

hr {

	text-align: center;
	margin-bottom: -10px;
	margin-top: -10px;
	background-color:#bad6bb;
	color: #bad6bb;
	height:150px;
	width: 0.2%;
	line-height: 1%;
	border: none;
}

.hr1 {
	background: linear-gradient(94deg, rgba(204,230,232,1) 0%, rgba(201,227,224,1) 40%, rgba(186,214,187,1) 100%);
	margin-top: -4%;
	height: 250px;
	width: 0.3%
}

.longhr2 {
	text-align: center;
	margin-bottom: -10px;
	margin-top: -10px;
	height:200px;
	width: 0.3%;
	line-height: 1%;
	border: none;
	background: linear-gradient(180deg, rgba(186,214,187,1) 0%, rgba(200,227,223,1) 51%, rgba(204,230,232,1) 100%);
}

.longhr {

		text-align: center;
		margin-bottom: -10px;
		margin-top: -10px;
		background-color:#bad6bb;
		color: #bad6bb;
		height:200px;
		width: 0.2%;
		line-height: 1%;
		border: none;
}

.longhr23 {
	height: 150px;
}

/* MENU DU HAUT */

.navigation {
	display: none;
}
.menu .logo {
  	color:#4b5640;
    font-weight: bold;
    font-size: 25px;
		float: left;
		margin-top: 0;
}
.menu a {
	color : #4b5640;
	margin-right: 20px;
	text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
	float: right;
	margin-top: 0.5%
}

.menu a:hover, .logo:hover {
	color:#595959;
	font-weight: bold;
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #cce6e8;
	width: 100%;
	height: 40px;

}
.presentation {
  background-color: #cce6e8;
	height:auto;
}

h2, h6 {
  font-family: 'Libre Baskerville', serif;
  font-size: 60px;
  font-style: italic;
  color : #2d2d2d;
}

img {
  height: 270px;
}

a, p, h1, b {
  font-family: 'Gotu', sans-serif;
	line-height: 1.5em;
	text-decoration: none;
	color: black;
}

.ml5 {
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	color : #383838;
  position: relative;
  font-weight: 300;
  font-size: 2em;
	text-align: center;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin:auto;
  height: 3px;
  width: 100%;
  background-color: #383838;
  transform-origin: 0.5 0;
}

.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.ml13 {
  font-size: 1.9em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 600;
}

.ml13 .letter {
  display: inline-block;
  line-height: 1em;
}


/* A PROPOS DE MOIS */

.propos h2 {
  text-align: center;
  font-weight: bold;
  color:#383838;
  font-size: 30px;
	animation: anim 1.5s infinite alternate ease-in-out;
}

.propos p {
  text-align: justify;
  font-size: 18px;
}

.ppetit {
	margin-right: 20%;
	margin-left: 20%;
}

.imgtext {
	display: flex;
	justify-content: center;
	align-items: center;
}

.imagepp {
	border-radius: 60px;
	margin-left: 60%;
}
/* EDUCATION */


.recEduc {
  border: 10px solid #bad6bb;
  width:54%;
	height:auto;
  text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 40px;
}

.recEduc h2 {
  text-align: center;
  font-weight: bold;
  color:#4b5640;
  font-size: 30px;
}

.recEduc p {
  text-align: center;
  color:#383838;
  font-size: 15px;
  margin-right: 12%;
  margin-left: 12%;
}

.recEduc h1 {
  text-align: center;
  color:#bad6bb;
  font-size: 15px;
  margin-right: 12%;
  margin-left: 12%;
}

/* COMPETENCES */

.recComp {
  border: 10px solid #bad6bb;
  width:69%;
	height:auto;
  text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 40px;
}
.recComp h2 {
	text-align: center;
  font-weight: bold;
  color:#4b5640;
  font-size: 30px;
}

.recComp p {
  text-align: center;
  color:#383838;
  font-size: 15px;

}

.recComp h1 {
	text-align: center;
  color:#bad6bb;
  font-size: 18px;
	text-transform: uppercase;
}


 .jauge {
    width:200px;
    height: 20px;
    display: block;
    background-color: #f7eadc;
    position: relative;
		opacity: 0.5;

}

.jauge-remplissage1 {
    transition: all 0.3s linear 0s;
    background-color: #4b5640;
    width: 80%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.jauge-remplissage2 {
    transition: all 0.3s linear 0s;
    background-color: #4b5640;
    width: 70%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.jauge-remplissage3 {
    transition: all 0.3s linear 0s;
    background-color: #4b5640;
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.jauge-remplissage4 {
    transition: all 0.3s linear 0s;
    background-color: #4b5640;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}



.imgetprog {
	margin-bottom: 3%;
}

.logocom h2 {
	color : #4b5640;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 2%;
	text-align: left;
}

.ens
{
display: flex;
width: 70%;
margin-left: 23%;
margin-right: auto;
}
.cote1
{
flex:1;
display: inline-block;
}

.petittexte {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.resp {
	display: none;
}


	.prb {
	  margin-right: auto;
	  margin-bottom: auto;
}

.mot {
	margin-left: 1%;
	align-items: center;
	margin-top: 1%;
}

.text .ens {
	margin-left:35%;
}

.hum {
	display: flex;
justify-content: center;
align-items: center;
height: 10vh;
margin: 0;
color: black;
}

h6 {
font-size: 50px;
 letter-spacing: -0.07ex;
  animation: anim 1.5s infinite alternate ease-in-out;
}


.sens {
	margin-right: 10%;
}
.text p {
  display: inline-block;
  vertical-align: top;
	font-size: 150%;
	font-style: normal;
	font-family: 'Gotu', sans-serif;
	margin-top: 2%;
}

.text .word {
  position: absolute;
  opacity: 0;
}

.text .letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.text .letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.text .letter.behind {
  transform: rotateX(-90deg);
}

.text .letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.wisteria {
  color: #4B9FB3;
}

.belize {
  color: #6FB374;
}

.pomegranate {
  color: #FF9B85;
}

.green {
  color: #FF78AA;
}

.midnight {
  color: #9A78FF;
}

/* PORTFOLIO */

@-webkit-keyframes apparitionBackground {
		 0%   {opacity: 0.20;}
		100%  {opacity: 1.0;}
}

.port h2 {
	text-align: center;
	color:#383838;
	font-size: 25px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2%;
	margin-top: 2%;
	text-transform: uppercase;
}

.port h6 {
	text-align: center;
  font-weight: bold;
  color:#4b5640;
  font-size: 30px;
	padding-top: 2%;
}


.port p {
	text-align: justify;
	color:#383838;
	font-size: 15px;
	margin-right: 12%;
	margin-left: 12%;
	font-weight: normal;
}

.port .date {
	font-weight: lighter;
	font-size: 12px;
	font-style: italic;
}

.bouttontourne {

	opacity: 0;
}

.projet1 {
	border: 10px solid #bad6bb;
	background-color:  #bad6bb;
	background-size: 100% 100%;
	width: 20%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	transition : all 0.8s;
}

.projet1:hover{
		background-image: url("../IMAGES/Capture2.PNG");
		border-top-left-radius: 100px;
		border-bottom-right-radius: 100px;
		transition : all 0.5s;
		-webkit-animation: apparitionBackground 0.3s;
	}

	.projet1:hover article{
		opacity: 1;
		background-color:  #bad6bb;
		width: 210px;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		text-align: center;
		padding-top: 4%;
		margin:auto;
	}

.projet1:hover p{
	opacity: 0
}

.projet1:hover b{
	opacity: 0
}

.projet1:hover h2{
	opacity: 0
}


.projet2 {
	border: 10px solid #bad6bb;
	background-color: #bad6bb;
	width: 20%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	transition : all 0.8s;
}

.projet2:hover {
		background-image: url("../IMAGES/cap.jpg");
  	background-size: 100% 100%;
		border-top-right-radius: 100px;
		border-bottom-left-radius: 100px;
		transition : all 0.5s;
		-webkit-animation: apparitionBackground 0.3s;
}

.projet2:hover article{
	opacity: 1;
	background-color:  #bad6bb;
	width: 210px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	text-align: center;
	padding-top: 4%;
	margin:auto;
}

.projet2:hover p{
	opacity: 0
}

.projet2:hover b{
	opacity: 0
}

.projet2:hover h2{
	opacity: 0
}

.projet3 {
	border: 10px solid #bad6bb;
	background-color: #bad6bb;
	width: 20%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	transition : all 0.8s;
}

.projet3:hover {
		background-image: url("../IMAGES/Capture.PNG");
  	background-size: 100% 100%;
		border-top-left-radius: 100px;
		border-bottom-right-radius: 100px;
		transition : all 0.5s;
		-webkit-animation: apparitionBackground 0.3s;
}

.projet3:hover article{
	opacity: 1;
	background-color:  #bad6bb;
	width: 210px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	text-align: center;
	padding-top: 4%;
	margin:auto;
}

.projet3:hover p{
	opacity: 0
}

.projet3:hover b{
	opacity: 0
}

.projet3:hover h2{
	opacity: 0
}

/* LE PETIT PLUS */


.plus {
  border: 10px solid #bad6bb;
  width:40%;
	height:auto;
  text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 40px;
}
.plus h2 {
	text-align: center;
  font-weight: bold;
  color:#4b5640;
  font-size: 30px;
}

.plus p {
  text-align: center;
  color:#383838;
  font-size: 15px;
  margin-right: 12%;
  margin-left: 12%;
	font-weight: normal;
}

.plus h1 {
  text-align: center;
  color:#383838;
  font-size: 15px;
  margin-right: 12%;
  margin-left: 12%;
	text-transform: uppercase;

}

.oeilphoto {
	height: 150px;
	margin-left: 10%;
	margin-top: 1.5%;
}

.fiphoto {
	height: 80%;
	margin-top: 10%;
}

.asso {
	display: flex;
	flex-direction: row;
}


.expe {
	width: 70%;
	margin-right: 14%;
}

.asso h1 {
	text-transform: none;
}

.asso b {
	font-weight: bold;
	margin-left: 2%;
}

.asso .date {
	font-weight: lighter;
	font-size: 12px;
	font-style: italic;
}

.asso p {
	font-size: 12px;
	text-align: center;
}

.expelogo {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
/* CONTACT */

.contact {
  width:35%;
		height:auto;
  text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.contact h2 {
  text-align: center;
  font-weight: bold;
  color:#383838;
  font-size: 25px;
}

.contact p {
  text-align: center;
  color:#383838;
  font-size: 15px;
  margin-right: 12%;
  margin-left: 12%;
	font-style: italic;
}

.contact h1 {
	text-align: center;
  color:#cce6e8;
  font-size: 16px;
  margin-right: 12%;
  margin-left: 12%;
	text-transform: uppercase;
}


/* CARRE */

.donne {
	margin-bottom: 2%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.donne p {
  text-align: center;
  color:#383838;
  font-size: 15px;
  margin-right: 12%;
  margin-left: 12%;
	font-style: italic;
}

.linkedin {
  width: 200px;
  height: auto;
	border-radius: 40px;
	opacity: 0.8;
	transition : all 0.8s;
	margin-left: auto;
	margin-right: auto;
}

.linkedin:hover {
	opacity: 1;
  transition: 0.6s;
	background-color: #cce6e8;
}

.gitimg {
	width: 150px;
	height: 150px;
	display: block;
  margin-left: auto;
	margin-right: auto;
	margin-top: -5%;
}

.liengl {
		text-decoration: none;
		font-family: 'Gotu', sans-serif;
		text-align: center;
		color: black;
		margin-right: 12%;
		margin-left: 12%;
}


.butongitlin {
	margin-bottom: 10%;
	color : #bad6bb;
	font-weight: bold;
}

#particle-canvas {
  height: 160px;

}

.copy {
	background-color: #cce6e8;
	text-align: center;
}



/* Couleur :

Rose pale : #ffeae0
Gris foncé : 383838
A7D9D6
