

.container11 {
	position: relative;
	height: 400px;
	width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10%;
  margin-bottom: 3%;
}

/* ===== CLOCK ===== */

.clock {
	position: absolute;
	top: 80px;
	right: 40px;
	background: #f1f1f1;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: 6px solid #cce6e8;
}

.clock:before {
	content: "";
	position: absolute;
	background: #ffc107;
	height: 6px;
	width: 6px;
	border-radius: 50%;
	margin: 27px 0 0 27px;
}

.clock-hours {
	position: relative;
	background: #ffc107;
	height: 20px;
	width: 4px;
	transform: rotate(-40deg);
	margin: 30px 0 0 28px;
	-webkit-animation: spin 48s infinite linear;
	-moz-animation: spin 48s infinite linear;
	animation: spin 48s infinite linear;
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);
		-webkit-transform-origin: 50% 0%;
	}
	100% {-webkit-transform: rotate(360deg);
		-webkit-transform-origin: 50% 0%;
	}
}

@-moz-keyframes spin {
	0% {-moz-transform: rotate(0deg);
		-moz-transform-origin: 50% 0%;
	}
	100% {-moz-transform: rotate(360deg);
		-moz-transform-origin: 50% 0%;
	}
}

@keyframes spin {
	0% {transform: rotate(0deg);
		transform-origin: 50% 0%;
	}
	100% {transform: rotate(360deg);
		transform-origin: 50% 0%;
	}
}

.clock-mins {
	position: relative;
	background: #ffc107;
	height: 24px;
	width: 4px;
	transform: rotate(90deg);
	margin: -20px 0 0 28px;
	-webkit-animation: spin 4s infinite linear;
	-moz-animation: spin 4s infinite linear;
	animation: spin 4s infinite linear;
}

/* ===== SWITCH ===== */

.switch {
	position: relative;
	top: 240px;
	left: 512px;
	background: #818382;
	height: 58px;
	width: 34px;
    opacity: 0;
}

.switch-white {
	position: relative;
	background: #f1f1f1;
	height: 14px;
	width: 26px;
	margin: 4px 0 0 4px;
	top: 4px;
	cursor: pointer;
	z-index: 2;
    opacity: 0;
}

.switch-yellow {
	position: relative;
	background: #ffc107;
	height: 14px;
	width: 26px;
	margin: 4px 0 0 4px;
	top: 4px;
	cursor: pointer;
	z-index: 3;
    opacity: 0;
}

.switch-off {
	position: relative;
	background: #151b1b;
	height: 14px;
	width: 26px;
	margin: 4px 0 0 4px;
	top: 4px;
	cursor: pointer;
	z-index: 4;
  opacity: 0;
}

/* ===== COMPUTER ===== */

.computer {
	position: relative;
	left: 40px;
	top: -2px;
}

.computer-body {
	position: relative;
	background: #151b1b;
	height: 150px;
	width: 250px;
	border-radius: 10px;
	margin: 150px auto;
}

.computer-screen {
	position: relative;
	background: #cfd8dc;
	height: 110px;
	width: 230px;
	margin: 0 auto;
	top: 10px;
}

.computer-content {
	position: relative;
	top: 10px;
	margin: 4px auto 0 auto;
}

.computer-content-block {
	position: relative;
	display: inline-block;
	background: rgba(129, 131, 130, 0.4);
	height: 24px;
	width: 100px;
	margin: 0px 0 4px 9px;
}

.computer-content-text {
	position: relative;
	display: inline-block;
	background: #cfd8dc;
	height: 8px;
	width: 100px;
	border-top: 8px solid rgba(129, 131, 130, 0.4);
	border-bottom: 8px solid rgba(129, 131, 130, 0.4);
	margin: 0px 0 4px 9px;
}

.computer-stand {
	position: relative;
	border-bottom: 20px solid #4c5051;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 50px;
	margin: 40px auto;
}

.computer-stand:before {
	content:"";
	position: absolute;
	background: #818382;
	height: 6px;
	width: 300px;
	border-radius:3px 3px 0 0;
	margin: 20px 0 0 -125px;
}

.computer-stand:after {
	content:"";
	position: absolute;
	background: #151b1b;
	height: 4px;
	width: 300px;
	margin: 26px 0 0 -125px;
}

/* ===== LAMP ===== */

.lamp {
	position: relative;
	height: 320px;
	width: 300px;
	margin: -346px 0 0 140px;
}

.lamp-head {
	position: relative;
	background: #f1f1f1;
	height: 35px;
	width: 70px;
	border-radius: 35px 35px 0 0;
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	transform: rotate(-40deg);
}

.lamp-head:before {
	content: "";
	position: absolute;
	border-bottom: 20px solid #f1f1f1;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	height: 0;
	width: 20px;
	margin: -16px 0 0 18px;
}

.lamp-head:after {
	content: "";
	position: absolute;
	background: #cce6e8;
	height: 8px;
	width: 6px;
	border-radius: 3px 3px 0 0;
	margin: -24px 0 0 30px;
}

.lamp-bulb {
	position: relative;
	height: 8px;
	width: 16px;
	border-radius: 8px 8px 0 0;
	-webkit-transform: rotate(140deg);
	-moz-transform: rotate(140deg);
	transform: rotate(140deg);
	margin: -5px 0 0 40px;
}

.on {
	background: #ffc107;
}

.off {
	display: none;
	background: #cce6e8;
}

.lamp-stand-top {
	position: relative;
	background: #f1f1f1;
	height: 110px;
	width: 6px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
	margin-bottom: -98px;
	top: -40px;
	left: -36px;
}

.lamp-pivot {
	position: relative;
	background: #cce6e8;
	height: 20px;
	width: 20px;
	border: 4px solid #cce6e8;
	border-radius: 50%;
	margin: 6px 0 0 -86px;
	z-index: 1;
}

.lamp-stand-bottom {
	position: relative;
	display: inline-block;
	background: #f1f1f1;
	height: 110px;
	width: 6px;
	margin-left: 1px;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	transform: rotate(10deg);
	top: -6px;
	left: -92px;
}

.lamp-base {
	position: relative;
	background: #cce6e8;
	height: 30px;
	width: 60px;
	border-radius: 30px 30px 0 0;
	margin: -16px 0 0 -122px;
}

.lamp-light {
	position: absolute;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	height: 0;
	width: 70px;
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	transform: rotate(-40deg);
	margin: -210px 0 0 -24px;
}

.yellow {
	border-bottom: 140px solid rgba(255, 193, 7, 0.3);
}

.white {
	display: none;
	border-bottom: 140px solid rgba(241, 241, 241, 0.3);
}

/* ===== DESK ===== */

.desk {
	position: relative;
	background: #bad6bb;
	height: 50px;
	width: 600px;
	margin: -96px 0 0 0;
}
