@charset "UTF-8";

html, body {
	height: 100%;
}
@keyframes fadein {
    from {
        opacity:0;
				transition : all 0.5s ease-in-out;
				transform : translate(0px,-100px);

    }
    to {
        opacity:1;
    }
}

body {
	margin: 0;
	padding: 0;
	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
}


/* MENU DU HAUT */

.menu .logo {
  	color:#716E75;
    font-weight: bold;
    font-size: 25px;
}
.menu a {
	color : #BBB6C2;
	margin-right: 20px;
	text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  margin-right: 2%;
}

.menu a:hover, .logo:hover {
	color:#716E75;
}

.presentation {
  background-color: #ffeae0;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 60px;
  font-style: italic;
  color : #383838;

}

img {
  height: 500px;
}

a, p, h1 {
  font-family: 'Gotu', sans-serif;
}

.photoetcercle {
    display: inline-block;
    position: relative;
}

.photoetcercle .spinner-box {
  position: absolute;
}

.spinner-box {
  margin-top: 20%;

}
.imageettexte {
    display: inline-block;
    position: relative;
    margin-left: 5%;
}

.image {
  margin: 10% 0% 10% 90%;
  border-radius: 100px;
}

.imageettexte .text {
    z-index: 1;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 45%;
    width: 70%;
}

/* A PROPOS DE MOIS */

.propos h2 {
  text-align: center;
  font-weight: bold;
  color:#383838;
  font-size: 30px;
}

.propos p {
  text-align: justify;
  margin-right: 28%;
  margin-left: 28%;
  font-size: 18px;
}

/* EDUCATION */

.recEduc {
  border: 10px solid #ffeae0;
  width:60%;
	height:120%;
  text-align: center;
	margin-left: auto;
margin-right: auto;
}

.recEduc h2 {
  text-align: center;
  font-weight: bold;
  color:#383838;
  font-size: 30px;
}

.recEduc p {
  text-align: center;
  color:#383838;
  font-size: 15px;
  margin-right: 12%;
  margin-left: 12%;
  margin-top: -10px;
}

.recEduc h1 {
  text-align: center;
  color:#383838;
  font-size: 15px;
  margin-right: 12%;
  margin-left: 12%;
}

hr {
	margin-bottom: -5px;
	margin-top: -5px;
}

/* CARRE */

.donne {
	height: 300px;
	/* background-color: #ffeae0; */
	display: flex;

}

.github  {
	width: 200px;
  height: 250px;
	border-radius: 40px;
	opacity: 0.8;
	margin-left: auto;
margin-right: auto;
}

.github:hover {
	opacity: 1;
  transition: 0.3s;
	background-color: #ffeae0;
}

.linkedin {
  width: 200px;
  height: 250px;
	border-radius: 40px;
	opacity: 0.8;
	margin-left: auto;
margin-right: auto;
}

.linkedin:hover {
	opacity: 1;
  transition: 0.3s;
	background-color: #ffeae0;
}

.gitimg {
	width: 150px;
	height: 150px;
	display: block;
    margin-left: auto;
		margin-right: auto;
		margin-top: -5%;
}

.linimg {
	width: 150px;
	height: 150px;
	display: block;
    margin-left: auto;
    margin-right: auto;
		margin-top: -5%;
}


.liengl {
		text-decoration: none;
		font-family: 'Gotu', sans-serif;
		text-align: center;
		color: black;
		font-weight: bold;
		font-size: 23px;
		margin-right: 12%;
		margin-left: 12%;
}

  /* Tablette */
@media screen and (max-width: 992px) {
  body {
    background-color: red;
  }
}

/* Mobile */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}

#particle-canvas {
  height: 200px;
}

/* Couleur :

Rose pale : #ffeae0
Gris foncé : 383838
A7D9D6
